@media screen and (max-width: 980px) {
  .auth-image {
    width: 100%;
  }

  .main-section {
    max-width: 400px;
  }

  #main-container {
    max-width: 780px;
  }

    .container {
    margin-left: 100px;
    margin-right: 100px;
    max-width: 780px;
  }

}

@media screen and (max-width: 768px) {
  .auth-image {
    width: 50%;
  }

  .container {
  margin-left: 25px;
  margin-right: 25px;
  max-width: 700px;
}

  #main-container {
    max-width: 700px;
}

  .main-section {
    max-width: 100%;
    float: none;
    overflow: auto;
}

  .sidebar {
    float: none;
    max-width: 100%;
  }





}

@media screen and (max-width: 640px) {


}
