@media screen and (max-width: 980px) {
  .auth-image {
    width: 100%;
  }

  .main-section {
    max-width: 400px;
  }

  #main-container {
    max-width: 780px;
  }

    .container {
    margin-left: 100px;
    margin-right: 100px;
    max-width: 780px;
  }

}

@media screen and (max-width: 768px) {
  .auth-image {
    width: 50%;
  }

  .container {
  margin-left: 25px;
  margin-right: 25px;
  max-width: 700px;
}

  #main-container {
    max-width: 700px;
}

  .main-section {
    max-width: 100%;
    float: none;
    overflow: auto;
}

  .sidebar {
    float: none;
    max-width: 100%;
  }





}

@media screen and (max-width: 640px) {
  .auth-image {
    width: 100%;
  }

  .container {
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #main-container {
    max-width: 600px;
    padding-top: 0px;
}

  #logo {
    width: 100%;
  }

  nav {
    /** float: none; **/
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    float: none;
  }

  nav a {
    margin-left: 40px;
    padding-left: 40px;

  }

  .main-section {
    max-width: 100%;
    float: none;
    overflow: auto;
}

  .work {
    width: 100%;
  }

  #masthead {
    position: static;
  }

}
