@media screen and (max-width: 980px) {
  .auth-image {
    width: 100%;
  }

  .main-section {
    max-width: 400px;
  }

  #main-container {
    max-width: 780px;
  }

    .container {
    margin-left: 100px;
    margin-right: 100px;
    max-width: 780px;
  }

  nav {
    right: 100px;
  }

}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 640px) {


}
